input[type='text']::placeholder {
	/* Firefox, Chrome, Opera */
	color: white;
}

.container {
	max-width: 400px;
	background-color: rgba(58, 186, 245, 0.548);

	border-radius: 10px;
}
header,
h1 {
	border-radius: 10px;
	color: rgb(255, 255, 255);
	padding: 5%;
}

input[type='text'],
input[type='text']:focus {
	color: #fff;
	border: none;
	background: rgba(0, 0, 0, 0.24);
	max-width: 400px;
}

.todos-container li {
	background: #80a9f569;
	width: 100%;
	transition: 0.6s;
}

.todos-container li:hover {
	margin: 1% 0;
}

.delete {
	cursor: pointer;
	color: rgb(82, 6, 6);
	background-color: white;
	padding: 5px;
	border-radius: 3px;
	transition: 0.4s;
}
.delete:hover {
	transform: scale(120%);
}
